.inactiveLink {
  pointer-events: none;
  cursor: default;
}

body {
  font-family: Arial;

  height: 100%;
  width: 100%;
}

.dropdown-menu a:hover {
  cursor: pointer;
}
.edit-icon {
  width: 20px;
  height: 20px;
}