<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Obras</title>

    <meta charset="UTF-8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">

    <script type="text/javascript" th:src="@{/js/global.js}"></script>

    <script type="text/javascript" th:src="@{/js/artworks-old.js}"></script>

    <link rel="stylesheet" type="text/css" href="css/global.css" th:href="@{/css/global.css}">

    <link rel="stylesheet" type="text/css" href="css/artworks-old.css" th:href="@{/css/artworks.css}">

</head>

<body>

    <nav class="navbar  navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand inactiveLink" href="#">MuseumApp</a>

        <ul class="navbar-nav">
            <!-- <li class="nav-item"><a class="nav-link" href="index">Inicio</a></li> -->
            <li class="nav-item active inactiveLink"><a class="nav-link" href="#">Obras</a></li>
            <li class="nav-item"><a class="nav-link" href="exhibiciones">Exhibiciones</a></li>
            <li class="nav-item"><a class="nav-link" href="beacons">Beacons</a></li>
            <li class="nav-item"><a class="nav-link" href="archivos">Archivos</a></li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                    Aministradores
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="perfil"><i class="fas fa-user-alt"></i>&nbsp;Perfil</a>
                    <a class="dropdown-item" onclick="appendModal()"><i class="fas fa-plus"></i>&nbsp;Nuevo</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="btn btn-dark" href="/logout"><i class="fas fa-sign-out-alt"></i></span>
                    Salir</a></li>
        </ul>
    </nav>

    <div class="tab">
        <button class="tablinks active" onclick="changeTab(event, 'artworkList')">Listado</button>
        <button class="tablinks" onclick="changeTab(event, 'artworkMedias')">Multimedia</button>
    </div>


    <div id="artworkList" class="tabcontent">
        <div class="container mt-3" style="min-width: 100%;">

            <div class="input-group">
                <div class="input-group-prepend">
                    <button class="btn btn-info" onclick="resetForm()" data-toggle="modal"
                        data-target="#creation-modal"><span class="glyphicon glyphicon-plus"></span>&nbsp;Nuevo</button>
                </div>

                <input class="form-control" id="search-bar" type="text" placeholder="Buscar...">
            </div>
            <div class="modal fade" id="creation-modal">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                        <form action="#" class="needs-validation" name="artwork-form" onsubmit="submitArtwork()"
                            th:object="${newArtwork}" novalidate>

                            <div class="modal-header">
                                <h4 class="modal-title">Editor de Registro</h4>
                                <button type="button" class="close ml-auto" data-dismiss="modal">&times;</button>
                            </div>


                            <div class="modal-body">
                                <div class="form-group">
                                    <input class="form-control" type="hidden" id="id" name="id" th:field="*{id}" />
                                </div>
                                <div class="form-group">
                                    <label for="name">Nombre</label>
                                    <input class="form-control" type="text" id="name" name="name" th:field="*{name}"
                                        placeholder="Nombre de la Obra" required />
                                    <div class="invalid-feedback">
                                        Debe introducir un nombre.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="author">Autor</label>
                                    <input class="form-control" type="text" id="author" name="author"
                                        th:field="*{author}" placeholder="Autor" />
                                </div>
                                <div class="form-group">
                                    <label for="country">País</label>
                                    <input class="form-control" type="text" id="country" name="country"
                                        th:field="*{country}" placeholder="País" />
                                </div>
                                <div class="form-group">
                                    <label for="description">Descripción</label>
                                    <textarea class="form-control" type="text" rows="4" id="description"
                                        name="description" th:field="*{description}"
                                        placeholder="Descripción"></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="exhibition">Exhibición</label>
                                    <select class="form-control" id="exhibitionId" name="exhibitionId">
                                        <option value="" selected>No Asignado</option>
                                        <option th:each="exhibition : ${exhibitions}" th:text="${exhibition.name}"
                                            th:value="${exhibition.id}"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button name="submit" class="btn btn-info" type="submit" value="0">Guardar</button>
                                <button class="btn btn-danger" th:onclick="'removeArtwork()'">Borrar</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>


                        </form>

                    </div>
                </div>
            </div>

            <table class="table table-bordered table-striped table-hover mt-4">
                <thead>
                    <tr>
                        <th> Id </th>
                        <th> Nombre </th>
                        <th> Autor </th>
                        <th> País </th>
                        <th> Descripción </th>
                        <th> Exhibición </th>
                    </tr>
                </thead>
                <tbody id="artworks-table">
                    <tr th:if="${artworks.empty}">
                        <td colspan="6"> No se ha encontrado ninguna obra. </td>
                    </tr>
                    <tr th:each="artwork : ${artworks}">
                        <td class="artwork-id" th:text="${artwork.id}">
                        </td>
                        <td class="artwork-name" th:text="${artwork.name}">
                        </td>
                        <td class="artwork-author" th:text="${artwork.author}">
                        </td>
                        <td class="artwork-country" th:text="${artwork.country}">
                        </td>
                        <td class="artwork-description">
                            <div style="max-height:100px;overflow:auto;" th:text="${artwork.description}"></div>
                        </td>
                        <td class="artwork-exhibition" th:if="${artwork.exhibition!=null}" th:text="${artwork.exhibition?.name}">
 
                        </td>
                        <td class="artwork-exhibition" th:if="${artwork.exhibition==null}">
                            No Asignado
                        </td>
                        <td class="buttons-container">
                            <div class="icon-container" th:attr="onclick=|editArtwork('${artwork.toJSON()}')|"
                                data-toggle="modal" data-target="#creation-modal">
                                <img class="edit-icon" th:src="@{/img/edit-icon.png}">
                            </div>
                            <div class="icon-container" th:onclick="'toggleArtwork(\'' + ${artwork.id} + '\')'">
                                <img th:if="${artwork.getState().getName() =='ACTIVE'}" class="edit-icon"
                                    th:src="@{/img/green-light.png}">
                                <img th:if="${artwork.getState().getName() =='INACTIVE'}" class="edit-icon"
                                    th:src="@{/img/red-light.png}">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a href="#" onclick="openReport(event,'obras/informe')">Abrir Informe</a>
        </div>
    </div>

    <div id="artworkMedias" class="tabcontent" style="display: none;">
        <div class="side-tab">
            <div id="top-divider"></div>
            <button th:each="artwork : ${artworks}" class="side-tablinks"
                th:attr="onclick=|changeSideTab(event,'${artwork.getId()}')|" th:text="${artwork.name}">London</button>
        </div>

        <div th:each="artwork : ${artworks}" th:id="${artwork.id}" class="side-tabcontent">


            <div class="row main-container">
                <div class="col-sm-6">
                    <h4>Asignados</h4>
                </div>
                <div class="col-sm-6">
                    <h4>No Asignados</h4>
                </div>
                <div id="assigned-media" class="col-sm-6 " ondrop="drop(event)" ondragover="allowDrop(event)">

                    <div th:each="media : ${artwork.media}" class="card" th:id="|media-${artwork.id}-${media.id}|"
                        draggable="true" ondragstart="drag(event)">
                        <div class="card-header bg-info">
                            <p th:text="${media.displayName}"></p>
                        </div>
                        <div class="card-body">
                            <div th:if="${media.fileType == 'image'}">
                                <a type="button" data-toggle="modal" th:data-target="|#modal-${media.id}|">
                                    <img th:src="|/img/${media.fileName}.${media.extension}|" alt="Image Not Found"></a>
                            </div>
                            <div th:if="${media.fileType == 'video'}">
                                <a type="button" data-toggle="modal" th:data-target="|#modal-${media.id}|">
                                    <img src="/img/default-video.png" alt="Image Not Found"></a>


                            </div>
                            <div th:if="${media.fileType == 'audio'}">
                                <a type="button" data-toggle="modal" th:data-target="|#modal-${media.id}|">
                                    <img src="/img/default-audio.png" alt="Image Not Found"></a>


                            </div>

                        </div>

                    </div>
                </div>
                <div id="unassigned-media" class="col-sm-6" ondrop="drop(event)" ondragover="allowDrop(event)">


                    <div th:each="media : ${medias}" th:object="${media}" th:if="!${artwork.media.contains(media)}"
                        class="card" draggable="true" ondragstart="drag(event)"
                        th:id="|media-${artwork.id}-${media.id}|">
                        <div class="card-header bg-info">
                            <p th:text="${media.displayName}"></p>
                        </div>
                        <div class="card-body">
                            <div th:if="${media.fileType == 'image'}">
                                <a type="button" data-toggle="modal" th:data-target="|#modal-${media.id}|">
                                    <img th:src="|/img/${media.fileName}.${media.extension}|" alt="Image Not Found"></a>


                            </div>
                            <div th:if="${media.fileType == 'video'}">
                                <a type="button" data-toggle="modal" th:data-target="|#modal-${media.id}|">
                                    <img src="/img/default-video.png" alt="Image Not Found"></a>


                            </div>
                            <div th:if="${media.fileType == 'audio'}">
                                <a type="button" data-toggle="modal" th:data-target="|#modal-${media.id}|">
                                    <img src="/img/default-audio.png" alt="Image Not Found"></a>


                            </div>

                        </div>

                    </div>

                </div>
                <!-- Modal per Media -->
                <div th:each="media : ${medias}">

                    <div class="modal fade" th:id="|modal-${media.id}|">

                        <div class="modal-dialog modal-dialog-centered modal-xl">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <h4 class="modal-title" th:text="${media.displayName}">Modal Heading
                                    </h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <img th:if="${media.fileType== 'image'}"
                                        th:src="|/img/${media.fileName}.${media.extension}|" alt="Image Not Found">
                                    <video th:if="${media.fileType== 'video'}" width="100%" height="auto" controls>
                                        <source th:src="|/video/${media.fileName}.${media.extension}|" type="video/mp4">
                                    </video>
                                    <audio th:if="${media.fileType== 'audio'}" controls>
                                        <source th:src="|/audio/${media.fileName}.${media.extension}|" type="audio/mp3">
                                    </audio>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </div>
    </div>



</body>

</html>