<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Inicio</title>

    <meta charset="UTF-8" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script src="/js/requests.js"></script>

    <script src="/js/artworks.js"></script>

    <script src="/js/files.js"></script>

    <script src="/js/index.js"></script>

    <link rel="stylesheet" type="text/css" href="css/index.css" th:href="@{/css/index.css}">

</head>

<body class="column">

    <div id="header" class="row">
        <img id="logo" src="assets/inerza-logo-sq.png">
        <div id="title">MuseumApp</div>
        <div class="dropdown right row">
            LuatDB <img src="assets/dropdown-icon.png">

            <div class="dropdown-content">
                <a href="profile">Perfil</a>
                <a href="logout">Salir</a>
            </div>
        </div>
    </div>
    <div class="row" id="content">

        <div id="sidetab" class="not-toggled">
            <div class="tab-item" onclick="selectTab('artworks')">
                <img src="assets/easel.png" alt="Image Not Found">
                <div class="tab-name">Obras</div>
            </div>
            <div class="tab-item" onclick="selectTab('exhibitions')">
                <img src="assets/gallery.png" alt="Image Not Found">
                <div class="tab-name">Exhibiciones</div>
            </div>
            <div class="tab-item" onclick="selectTab('beacons')">
                <img src="assets/beacon.png" alt="Image Not Found">
                <div class="tab-name">Beacons</div>
            </div>
            <div class="tab-item" onclick="selectTab('files')">
                <img src="assets/files.png" alt="Image Not Found">
                <div class="tab-name">Archivos</div>
            </div>
            <div class="tab-item" onclick="selectTab('users')">
                <img src="assets/user.png" alt="Image Not Found">
                <div class="tab-name">Usuarios</div>
            </div>
        </div>
        <div id="content-body">

        </div>
    </div>

    <div id="main-modal" class="modal">
        <div class="modal-content">
            <div class="modal-header row">
                <div class="title"></div>
                <div class="close-button" onclick="closeModal()">&times;</div>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</body>

</html>